<h1>Editing person id:<%= @person.id %></h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <p><%= f.label :name, 'Name' %> <%= f.text_field :name %></p>
  <p><%= f.label :email, 'Email' %> <%= f.text_field :email %></p>
  <p><%= f.label :phone, 'Phone' %> <%= f.text_field :phone %></p>
  <p><%= f.label :phone, 'SessionID' %> <%= f.text_field :session_id %></p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>
