<body>
  <h1>Manage the CPR sessions signup database</h1>
  <p>
    It's always safe to Edit and add New people and sessions, but other
    adjustments (especially deleting sessions) after people have
    started making reservations might confuse things. That said:
  </p>
  <ul>
    <li>
      <%= link_to "Manage People list", "/people" %>
    </li>
    <li>
      <%= link_to "Manage Sessions list", "/sessions" %>
    </li>
    <li>
      <%= link_to "See roster", "list" %>
    </li>
    <li>
      <%= link_to "Go to signup screen", "signup" %>
    </li>
    <li>
      <%= link_to "Start over", "/" %>
    </li>
    <li>
      <%= link_to "Report a problem", "http://cprsignup.lighthouseapp.com/projects/15628-signup/tickets/new" %>
    </li>
  </ul>
  <hr>
</body>
